<div class="mobile-all-project">
  <div class="ing-project">
    <p class="prj-title">ing...</p>
    <ul class="ing-prj-list">
      <li class="prj-item">윤석열탄핵기원코바늘찌르기</li>
      <li class="prj-item">피크민들</li>
      <li class="prj-item">너도 멸종되지 않게 조심해</li>
      <li class="prj-item">블랙홀 시리즈</li>
      <li class="prj-item link-hover">
        <a href="../janggu-bag/20250107.html">유난스럽게 만드는 장구가방</a>
      </li>
      <li class="prj-item">Starship Enterprise</li>
      <li class="prj-item">금붕어</li>
      <li class="prj-item">입춘대길 / 건양다경</li>
    </ul>
  </div>
  <div class="done-project">
    <p class="prj-title">done!</p>
    <ul class="done-prj-list">
      <li class="prj-item link-hover">
        <a href="../repair-glove/20250101.html">인생 첫 뜨개커미션</a>
      </li>
      <li class="prj-item link-hover">
        <a href="../cactus-garden/20241225.html">선인장화분</a>
      </li>
      <li class="prj-item link-hover">
        <a href="../sogo-snow-person/20241220.html">소고가 된 눈사람</a>
      </li>
      <li class="prj-item link-hover">Free Palestine Flag</li>
      <li class="prj-item">만다라</li>
      <li class="prj-item">메타몽 수세미(코스터)</li>
      <li class="prj-item">만두</li>
      <li class="prj-item">생명의 나무</li>
      <li class="prj-item">투쟁!</li>
    </ul>
  </div>
  <div class="etc">
    <a href="../etc/why.html"> <p class="prj-title link-hover">etc</p></a>
  </div>
</div>
