<div class="right-area">
  <div class="ing-project">
    <p class="prj-title">ing...</p>
    <ul class="ing-prj-list">
      <li class="prj-item">윤석열탄핵기원코바늘찌르기</li>
      <li class="prj-item">선인장 화분</li>
      <li class="prj-item">피크민들</li>
      <li class="prj-item">너도 멸종되지 않게 조심해</li>
      <li class="prj-item">인생 첫 뜨개커미션 : 장갑 수선</li>
      <li class="prj-item">블랙홀 시리즈</li>
    </ul>
  </div>
  <div class="in-my-head-project">
    <p class="prj-title">머릿 속에..</p>
    <ul class="in-my-head-prj-list">
      <li class="prj-item">유난스럽게 만드는 장구가방</li>
      <li class="prj-item">Starship Enterprise</li>
      <li class="prj-item">금붕어</li>
      <li class="prj-item">입춘대길 / 건양다경</li>
    </ul>
  </div>
  <div class="done-project">
    <p class="prj-title">done!</p>
    <ul class="done-prj-list">
      <li class="prj-item">만다라</li>
      <li class="prj-item">만두</li>
      <li class="prj-item">투쟁!</li>
      <li class="prj-item">소고가 된 눈사람</li>
      <li class="prj-item">메타몽 수세미(코스터)</li>
      <li class="prj-item">생명의 나무</li>
      <li class="prj-item">Free Palestine Flag</li>
    </ul>
  </div>
  <div class="etc">
    <a href="../etc/why.html"> <p class="prj-title etc">etc</p></a>
  </div>
</div>
