<div class="right-area">
  <div class="ing-project">
    <p class="prj-title">ing...</p>
    <ul class="ing-prj-list">
      <li class="prj-item link-hover">윤석열탄핵기원코바늘찌르기</li>
      <li class="prj-item link-hover">선인장 화분</li>
      <li class="prj-item link-hover">피크민들</li>
      <li class="prj-item link-hover">너도 멸종되지 않게 조심해</li>
      <li class="prj-item link-hover">인생 첫 뜨개커미션 : 장갑 수선</li>
      <li class="prj-item link-hover">블랙홀 시리즈</li>
      <li class="prj-item link-hover">유난스럽게 만드는 장구가방</li>
      <li class="prj-item link-hover">Starship Enterprise</li>
      <li class="prj-item link-hover">금붕어</li>
      <li class="prj-item link-hover">입춘대길 / 건양다경</li>
    </ul>
  </div>
  <div class="done-project">
    <p class="prj-title">done!</p>
    <ul class="done-prj-list">
      <li class="prj-item link-hover">
        <a href="../sogo-snow-person/20241220.html">소고가 된 눈사람</a>
      </li>
      <li class="prj-item link-hover">Free Palestine Flag</li>
      <li class="prj-item link-hover">만다라</li>
      <li class="prj-item link-hover">메타몽 수세미(코스터)</li>
      <li class="prj-item link-hover">만두</li>
      <li class="prj-item link-hover">생명의 나무</li>
      <li class="prj-item link-hover">투쟁!</li>
    </ul>
  </div>
  <div class="etc">
    <a href="../etc/why.html"> <p class="prj-title link-hover">etc</p></a>
  </div>
</div>
