@charset "UTF-8";
@import "reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard Variable", Pretendard, "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
}
@font-face {
  font-family: "DOSPilgiMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "Pretendard Variable";
}

body {
  display: flex;
  justify-content: center;
  font-family: "Pretendard Variable";
  background-color: #4e3d53;
}

.outer-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.post-container {
  max-width: 768px;
  height: 100vh;
  overflow: scroll;
}
.post-container .main-header {
  border-bottom: 1px solid #000;
  background-color: #344d67;
}
.post-container .main-header .main-title {
  padding: 3rem 2rem 2rem;
  font-family: "DOSPilgiMedium";
  font-size: 2rem;
  text-align: center;
  color: #fff;
  border-bottom: 1px dashed #000;
}
.post-container .main-header .info-txt-link:hover {
  -webkit-text-decoration: underline #dedede;
          text-decoration: underline #dedede;
}
.post-container .main-header .info-txt {
  padding: 1rem 2rem;
  font-weight: 100;
  text-align: center;
  color: #dedede;
  background-color: #0f1123;
}
.post-container .post-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem 1.3rem;
  background-color: #a6f0c6;
  border-bottom: 1px dashed #000;
}
.post-container .post-header .post-navi {
  margin: 1rem 0 3rem;
}
.post-container .post-header .post-title-date h3 {
  margin-bottom: 1rem;
  font-family: "DOSPilgiMedium";
  font-size: 2rem;
  font-weight: 700;
}
.post-container .post-header .post-title-date h4 {
  font-weight: 100;
}
.post-container .main-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #a6f0c6;
}
.post-container .main-content .main-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-bottom: 1px solid #000;
}
.post-container .main-content .main-item .main-item-img-wrapper .main-item-img {
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px dashed #000;
}
.post-container .main-content .main-item .main-item-txt-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.post-container .main-content .main-item .main-item-txt-wrapper .main-item-prj {
  margin-bottom: 0.5rem;
  font-weight: 100;
}
.post-container .main-content .main-item .main-item-txt-wrapper .main-item-title {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 400;
}
.post-container .main-content .main-item .main-item-txt-wrapper .main-item-date {
  font-size: 14px;
  font-weight: 100;
  color: #332c39;
}
.post-container .main-content .main-item:nth-child(2n-1) {
  border-right: 1px solid #000;
}
.post-container .main-content .main-item-img {
  width: 100%;
}
.post-container .post-content {
  padding: 2rem 3rem;
  height: calc(100vh - 178px);
  font-weight: 300;
  line-height: 1.8rem;
  color: #fff;
  background-color: #0f1123;
  overflow: scroll;
}
.post-container .post-content p {
  margin-bottom: 0.5rem;
}

.left-area {
  display: flex;
  flex-direction: column;
  width: 180px;
  min-width: 180px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-weight: 100;
  color: #fff;
  background-color: #a98b98;
}
.left-area .name-wrapper,
.left-area .prj-name-wrapper {
  padding: 1rem 1rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #344d67;
}
.left-area .name-wrapper .who-am-i,
.left-area .name-wrapper .prj-title,
.left-area .prj-name-wrapper .who-am-i,
.left-area .prj-name-wrapper .prj-title {
  font-family: "DOSPilgiMedium";
  color: #fff;
}
.left-area .name-wrapper .my-smaller-name,
.left-area .prj-name-wrapper .my-smaller-name {
  font-family: "DOSPilgiMedium";
  font-size: 14px;
  text-align: right;
  color: #dedede;
}
.left-area .profile-wrapper,
.left-area .prj-info-wrapper {
  padding: 1rem 1rem;
}
.left-area .profile-wrapper .profile-content,
.left-area .profile-wrapper .prj-info-content,
.left-area .prj-info-wrapper .profile-content,
.left-area .prj-info-wrapper .prj-info-content {
  margin-bottom: 1rem;
  font-weight: 700;
  text-align: right;
}
.left-area .profile-img-wrapper,
.left-area .prj-img-wrapper {
  background-color: #a6f0c6;
}
.left-area .profile-img-wrapper .site-profile-img,
.left-area .profile-img-wrapper .prj-info-img,
.left-area .prj-img-wrapper .site-profile-img,
.left-area .prj-img-wrapper .prj-info-img {
  transform: translate(0, 2px);
}
.left-area .prj-info-img,
.left-area .site-profile-img {
  width: 100%;
  border: 1px solid #000;
  border-radius: 50%;
}
.left-area .prj-record {
  flex-grow: 1;
  padding: 1rem;
  color: #0f1123;
  background-color: #dedede;
  border-top: 1px solid #000;
}
.left-area .prj-record h3 {
  font-weight: 400;
}
.left-area .prj-record .prj-record-item {
  position: relative;
  margin-top: 0.5rem;
  font-size: 14px;
}
.left-area .prj-record .prj-record-item::before {
  content: "·";
  display: inline-block;
  width: 4px;
}
.left-area .prj-record .prj-record-item .prj-record-date {
  color: #332c39;
}
.left-area .prj-record .prj-record-item .prj-record-date::before {
  content: "…";
  display: inline-block;
  width: 20px;
  text-align: center;
}
.left-area .prj-subtitle {
  padding: 1rem;
  font-family: "Pretendard Variable";
  font-size: 14px;
  color: #0f1123;
  background-color: #dedede;
  border-bottom: 1px solid #000;
}

.right-area {
  padding: 1rem;
  width: 180px;
  min-width: 180px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  color: #fff;
  background-color: #a98b98;
}
.right-area .prj-title {
  margin-top: 1rem;
  font-family: "DOSPilgiMedium";
  font-size: 18px;
}
.right-area .prj-title.etc:hover {
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}
.right-area .prj-item {
  position: relative;
  margin-top: 0.5rem;
}
.right-area .prj-item::before {
  content: "·";
  display: inline-block;
  width: 8px;
}

.link-hover:hover {
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}

@media screen and (orientation: portrait) {
  body {
    background-color: #fff;
  }
  .outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .outer-container .left-area {
    width: 100%;
  }
  .outer-container .left-area .site-info {
    display: flex;
  }
  .outer-container .left-area .site-info .profile-img-wrapper {
    width: 24%;
  }
  .outer-container .left-area .site-info .profile-txt-for-mobile {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .outer-container .left-area .site-info .profile-wrapper {
    padding-bottom: 0;
  }
  .outer-container .post-container {
    max-width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */