@import "reset.css";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard Variable", Pretendard, "Apple SD Gothic Neo",
    -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
}

@font-face {
  font-family: "DOSPilgiMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Pretendard Variable";
}
body {
  display: flex;
  justify-content: center;
  font-family: "Pretendard Variable";
  background-color: #4e3d53;
  &.modal-open {
    overflow: hidden;
  }
}

.outer-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.post-container {
  max-width: 768px;
  height: 100vh;
  overflow: scroll;

  .main-header {
    display: flex;
    flex-direction: column;
    min-height: 182px;
    border-bottom: 1px solid #000;
    background-color: #344d67;
    .main-title {
      flex: 2 1 0;
      padding: 3.5rem 2rem 2.5rem;
      font-family: "DOSPilgiMedium";
      font-size: 2rem;
      text-align: center;
      color: #fff;
      border-bottom: 1px dashed #000;
    }
    .info-txt-link:hover {
      text-decoration: underline #dedede;
    }
    .info-txt {
      padding: 1rem 2rem;
      font-weight: 100;
      text-align: center;
      color: #dedede;
      background-color: #0f1123;
    }
  }

  .post-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 1.3rem;
    min-height: 182px;
    background-color: #a6f0c6;
    border-bottom: 1px dashed #000;

    .post-navi {
      margin: 1rem 0;
    }

    .post-title-date {
      h3 {
        margin-bottom: 1rem;
        font-family: "DOSPilgiMedium";
        font-size: 2rem;
        font-weight: 700;
      }
      h4 {
        font-weight: 100;
      }
    }
  }

  .main-content {
    display: flex;
    flex-wrap: wrap;
    background-color: #a6f0c6;

    .main-item {
      display: flex;
      flex-direction: column;
      width: 50%;
      border-bottom: 1px solid #000;

      .main-item-img-wrapper {
        .main-item-img {
          aspect-ratio: 4/3;
          object-fit: cover;
          border-bottom: 1px dashed #000;
        }
      }
      .main-item-txt-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        .main-item-prj {
          margin-bottom: 0.5rem;
          font-weight: 100;
        }

        .main-item-title {
          margin-bottom: 1rem;
          font-size: 18px;
          font-weight: 400;
        }

        .main-item-date {
          font-size: 14px;
          font-weight: 100;
          color: #332c39;
        }
      }
    }

    .main-item:nth-child(2n-1) {
      border-right: 1px solid #000;
    }
    .main-item-img {
      width: 100%;
    }
  }

  .post-content {
    padding: 2rem 3rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: #fff;
    background-color: #0f1123;
    overflow: scroll;

    p {
      margin-bottom: 0.5rem;
    }

    .post-content-img {
      width: 100%;
    }
    .post-content-youtube {
      width: 100%;
    }
  }
}

.left-area {
  display: flex;
  flex-direction: column;
  width: 180px;
  min-width: 180px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-weight: 100;
  color: #fff;
  background-color: #a98b98;

  .name-wrapper,
  .prj-name-wrapper {
    padding: 1rem 1rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #344d67;
    .who-am-i,
    .prj-title {
      font-family: "DOSPilgiMedium";
      color: #fff;
    }

    .my-smaller-name {
      font-family: "DOSPilgiMedium";
      font-size: 14px;
      text-align: right;
      color: #dedede;
    }
  }

  .prj-info {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
  }
  .mobile-prj-detail-wrapper {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .profile-wrapper,
  .prj-info-wrapper {
    padding: 1rem 1rem;
    .profile-content,
    .prj-info-content {
      margin-bottom: 1rem;
      font-weight: 700;
      text-align: right;
    }
  }

  .profile-img-wrapper,
  .prj-img-wrapper {
    background-color: #a6f0c6;
    .site-profile-img,
    .prj-info-img {
      transform: translate(0, 2px);
    }
  }
  .prj-info-img,
  .site-profile-img {
    width: 100%;
    border: 1px solid #000;
    border-radius: 50%;
  }
  .mobile-prj-more-btn,
  .mobile-prj-close-btn {
    display: none;
  }
  .prj-record {
    flex-grow: 1;
    padding: 1rem;
    color: #0f1123;
    background-color: #dedede;
    border-top: 1px solid #000;

    h3 {
      font-weight: 400;
    }

    .prj-record-item {
      position: relative;
      margin-top: 0.5rem;
      font-size: 14px;
      &::before {
        content: "·";
        display: inline-block;
        width: 4px;
      }
      .prj-record-date {
        color: #332c39;

        &::before {
          content: "…";
          display: inline-block;
          width: 20px;
          text-align: center;
        }
      }
    }
  }
  .prj-subtitle {
    padding: 1rem;
    font-family: "Pretendard Variable";
    font-size: 14px;
    color: #0f1123;
    background-color: #dedede;
    border-bottom: 1px solid #000;
  }
}

.right-area,
.mobile-bottom-area {
  padding: 1rem;
  width: 180px;
  min-width: 180px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  color: #fff;
  background-color: #a98b98;

  .prj-title {
    margin-top: 1rem;
    font-family: "DOSPilgiMedium";
    font-size: 18px;

    &.etc:hover {
      text-decoration: underline #fff;
    }
  }

  .prj-item {
    position: relative;
    margin-top: 0.5rem;
    &::before {
      content: "·";
      display: inline-block;
      width: 8px;
    }
  }
}

.link-hover {
  &:hover {
    text-decoration: underline #fff;
  }
}

@media screen and (min-width: 425px) and (orientation: portrait) {
  body {
    background-color: #fff;
  }
  .outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .left-area {
      position: fixed;
      width: 100%;
      border: none;
      border-bottom: 1px solid #000;

      .site-info {
        display: flex;
        .profile-img-wrapper {
          width: 120px;
          border-right: 1px solid #000;
          .site-profile-img {
          }
        }

        .profile-txt-for-mobile {
          flex: 1 1 0;
          display: flex;
          flex-direction: column;
          .name-wrapper {
            flex: 1 1 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;

            .my-smaller-name {
              font-size: 1rem;
            }
          }
          .profile-wrapper {
            flex: 2 1 0;
            display: flex;
            padding: 0 0.5rem;
            font-size: 0.8rem;
            line-height: 1.2rem;
            div {
              flex: 1 1 0;
              display: flex;
              flex-direction: column;
              justify-content: center;

              &:not(:last-child) {
                margin-right: 0.5rem;
                padding: 0.5rem 0;
                padding-right: 0.5rem;
                border-right: 1px solid #000;
              }
            }
            .profile-content {
              margin-bottom: 0;
            }
          }
        }
      }
      .prj-info {
        display: flex;
        flex-direction: column;
        .prj-name-subtitle-wrapper {
          flex: 1 1 0;
          display: flex;
          flex-direction: column;
          .prj-name-wrapper {
            padding: 0.5rem;
            border-top: 0;
          }
          .prj-subtitle {
            flex: 1 1 0;
            padding: 0.5rem;
          }
        }
        .mobile-prj-info-wrapper {
          display: flex;
          .prj-img-wrapper {
            width: 80px;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
          }
        }
        .mobile-prj-more-btn {
          display: block;
          &.clicked {
            display: none;
          }
        }
        .mobile-prj-close-btn {
          display: none;
          &.clicked {
            display: block;
          }
        }
        .mobile-prj-more-btn,
        .mobile-prj-close-btn {
          padding: 8px 0;
          font-size: 0.8rem;
          font-weight: 700;
          color: #332c39;
        }
        .mobile-prj-detail-wrapper {
          display: none;
          flex: 1 1 0;
          flex-direction: column;
          position: absolute;
          top: 115px;
          width: 100%;
          height: calc(100vh - 116px);
          background-color: #a98b98;
          border-top: 1px dashed #000;
          &.view {
            display: flex;
          }
          .prj-record-item {
            text-decoration: underline;
          }
        }
      }
    }
    .post-container {
      margin-top: 6.5rem;
      max-width: 100%;
      height: auto;
      background-color: #a98b98;

      .main-header {
        padding-top: 2rem;
        min-height: auto;
        .main-title {
          padding: 1.5rem;
          font-size: 2rem;
        }
        .info-txt-link {
          font-size: 1.2rem;
          line-height: 2rem;

          .info-txt {
            padding: 1rem;
          }
        }
      }

      .main-content {
        margin-bottom: 3.5rem;
        .main-item-txt-wrapper {
          padding: 1rem;
          .main-item-prj {
            font-size: 1.2rem;
          }
          .main-item-title {
            font-size: 1.5rem !important;
            font-weight: 700 !important;
            line-height: 2.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .main-item-date {
            font-size: 1rem !important;
          }
        }
      }

      .post-content {
        margin-bottom: 3.5rem;
        padding: 1.5rem;
      }
    }
    .right-area {
      display: none;
    }
    .dimmed-layer {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .mobile-bottom-area {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      font-size: 1.5rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      border: none;
      box-shadow: 0 -5px 50px -25px rgba(0, 0, 0, 0.5);
      div {
        flex: 1 1 0;
      }
      .mobile-all-project {
        display: none;

        .prj-title {
          margin-bottom: 0.5rem;
          font-size: 2rem;
        }
        .prj-item {
          display: inline;
          font-size: 1.2rem;
          line-height: 1.8rem;
          &.link-hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 424px) and (orientation: portrait) {
  body {
    background-color: #fff;
  }
  .outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .left-area {
      position: fixed;
      width: 100%;
      border: none;
      border-bottom: 1px solid #000;

      .site-info {
        display: flex;
        .profile-img-wrapper {
          width: 80px;
          border-right: 1px solid #000;
          .site-profile-img {
          }
        }

        .profile-txt-for-mobile {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          .name-wrapper {
            flex: 1 1 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.8rem;
            padding: 0.5rem;
            .my-smaller-name {
              font-size: 0.8rem;
            }
          }
          .profile-wrapper {
            flex: 2 1 0;
            display: flex;
            padding: 0 0.5rem;
            font-size: 0.5rem;
            line-height: 1rem;
            div {
              flex: 1 1 0;
              display: flex;
              flex-direction: column;
              justify-content: center;

              &:not(:last-child) {
                margin-right: 0.5rem;
                padding: 0.2rem 0;
                padding-right: 0.5rem;
                border-right: 1px solid #000;
              }
            }
            .profile-content {
              margin-bottom: 0;
            }
          }
        }
      }
      .prj-info {
        display: flex;
        flex-direction: column;
        .prj-name-subtitle-wrapper {
          flex: 1 1 0;
          display: flex;
          flex-direction: column;
          .prj-name-wrapper {
            padding: 0.5rem;
            border-top: 0;
          }
          .prj-subtitle {
            flex: 1 1 0;
            padding: 0.5rem;
            max-height: 50px;
            overflow: scroll;
          }
        }
        .mobile-prj-info-wrapper {
          display: flex;
          .prj-img-wrapper {
            width: 80px;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
          }
        }
        .mobile-prj-more-btn {
          display: block;
          &.clicked {
            display: none;
          }
        }
        .mobile-prj-close-btn {
          display: none;
          &.clicked {
            display: block;
          }
        }
        .mobile-prj-more-btn,
        .mobile-prj-close-btn {
          padding: 8px 0;
          font-size: 0.8rem;
          font-weight: 700;
          color: #332c39;
        }
        .mobile-prj-detail-wrapper {
          display: none;
          flex: 1 1 0;
          flex-direction: column;
          position: absolute;
          top: 115px;
          height: calc(100vh - 116px);
          background-color: #a98b98;
          border-top: 1px dashed #000;
          &.view {
            display: flex;
          }

          .prj-record-item {
            text-decoration: underline;
          }
        }
      }
    }
    .post-container {
      margin-top: 4.5rem;
      max-width: 100%;
      height: auto;
      background-color: #a98b98;

      .main-header {
        padding-top: 1rem;
        min-height: auto;
        .main-title {
          padding: 1rem;
          font-size: 1.5rem;
        }
        .info-txt-link {
          font-size: 1rem;
          line-height: 1.5rem;

          .info-txt {
            padding: 0.5rem;
          }
        }
      }

      .main-content {
        margin-bottom: 3.5rem;
        .main-item-txt-wrapper {
          padding: 1rem;
          .main-item-prj {
            font-size: 1rem;
          }
          .main-item-title {
            font-size: 1.2rem !important;
            font-weight: 700 !important;
            line-height: 1.8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .main-item-date {
            font-size: 0.8rem !important;
          }
        }
      }

      .post-header {
        padding-top: 3rem;
      }
      .post-content {
        margin-bottom: 3.5rem;
        padding: 1.5rem;
      }
    }
    .right-area {
      display: none;
    }
    .dimmed-layer {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .mobile-bottom-area {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      font-size: 1.5rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      border: none;
      box-shadow: 0 -5px 50px -25px rgba(0, 0, 0, 0.5);
      div {
        flex: 1 1 0;
      }
      .mobile-all-project {
        display: none;

        .prj-title {
          font-size: 1.5rem;

          &:last-child {
            text-decoration: underline;
          }
        }
        .prj-item {
          display: inline;
          font-size: 1rem;
          line-height: 1.5rem;
          &.link-hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
